<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>InsertStudent</servlet-name>
		<display-name>InsertStudent</display-name>
		<description></description>
		<servlet-class>com.midtree.web.InsertStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>adminLogin</servlet-name>
		<display-name>adminLogin</display-name>
		<description></description>
		<servlet-class>com.mindtree.web.admin.adminLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>studentLogin</servlet-name>
		<display-name>studentLogin</display-name>
		<description></description>
		<servlet-class>com.midtree.web.student.studentLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>studentRegister</servlet-name>
		<display-name>studentRegister</display-name>
		<description></description>
		<servlet-class>com.midtree.web.student.studentRegister</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>register</servlet-name>
		<display-name>register</display-name>
		<description></description>
		<servlet-class>com.midtree.web.register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>studentResults</servlet-name>
		<display-name>studentResults</display-name>
		<description></description>
		<servlet-class>com.midtree.web.student.studentResults</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>staffRegister</servlet-name>
		<display-name>staffRegister</display-name>
		<description></description>
		<servlet-class>com.midtree.web.staff.staffRegister</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>staffLogin</servlet-name>
		<display-name>staffLogin</display-name>
		<description></description>
		<servlet-class>com.midtree.web.staff.staffLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>dataAsJSON</servlet-name>
		<display-name>dataAsJSON</display-name>
		<description></description>
		<servlet-class>com.midtree.web.student.dataAsJSON</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>adminRegister</servlet-name>
		<display-name>adminRegister</display-name>
		<description></description>
		<servlet-class>com.midtree.web.admin.adminRegister</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>editStudent</servlet-name>
		<display-name>editStudent</display-name>
		<description></description>
		<servlet-class>com.midtree.web.student.editStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>deleteStudent</servlet-name>
		<display-name>deleteStudent</display-name>
		<description></description>
		<servlet-class>com.midtree.web.student.deleteStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addResult</servlet-name>
		<display-name>addResult</display-name>
		<description></description>
		<servlet-class>com.midtree.web.staff.addResult</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>loginAdmin</servlet-name>
		<display-name>loginAdmin</display-name>
		<description></description>
		<servlet-class>com.midtree.web.admin.loginAdmin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>postComment</servlet-name>
		<display-name>postComment</display-name>
		<description></description>
		<servlet-class>com.midtree.web.student.postComment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>deleteResult</servlet-name>
		<display-name>deleteResult</display-name>
		<description></description>
		<servlet-class>com.midtree.web.staff.deleteResult</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>editResult</servlet-name>
		<display-name>editResult</display-name>
		<description></description>
		<servlet-class>com.midtree.web.staff.editResult</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>deleteStaff</servlet-name>
		<display-name>deleteStaff</display-name>
		<description></description>
		<servlet-class>com.midtree.web.admin.deleteStaff</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>adminAddStaff</servlet-name>
		<display-name>adminAddStaff</display-name>
		<description></description>
		<servlet-class>com.midtree.web.admin.adminAddStaff</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>adminAddStudent</servlet-name>
		<display-name>adminAddStudent</display-name>
		<description></description>
		<servlet-class>com.midtree.web.admin.adminAddStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>forgotPassword</servlet-name>
		<display-name>forgotPassword</display-name>
		<description></description>
		<servlet-class>com.midtree.web.student.forgotPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertStudent</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>adminLogin</servlet-name>
		<url-pattern>/adminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>studentLogin</servlet-name>
		<url-pattern>/studentLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>studentRegister</servlet-name>
		<url-pattern>/studentRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>studentResults</servlet-name>
		<url-pattern>/studentResults</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>staffRegister</servlet-name>
		<url-pattern>/staffRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>staffLogin</servlet-name>
		<url-pattern>/staffLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dataAsJSON</servlet-name>
		<url-pattern>/dataAsJSON</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>adminRegister</servlet-name>
		<url-pattern>/adminRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>editStudent</servlet-name>
		<url-pattern>/editStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteStudent</servlet-name>
		<url-pattern>/deleteStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addResult</servlet-name>
		<url-pattern>/addResult</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginAdmin</servlet-name>
		<url-pattern>/loginAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>postComment</servlet-name>
		<url-pattern>/postComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteResult</servlet-name>
		<url-pattern>/deleteResult</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>editResult</servlet-name>
		<url-pattern>/editResult</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteStaff</servlet-name>
		<url-pattern>/deleteStaff</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>adminAddStaff</servlet-name>
		<url-pattern>/adminAddStaff</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>adminAddStudent</servlet-name>
		<url-pattern>/adminAddStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>forgotPassword</servlet-name>
		<url-pattern>/forgotPassword</url-pattern>
	</servlet-mapping>
</web-app>
